/*
* Trenton Landing Page 1.1
* Copyright 2013, UNITED THEMES
* www.unitedthemes.com
*/


/* Table of Content
==================================================
	#Basic Styles
	#Typography
	#Links
	#Lists
	#Images
	#Header Section
	#Product Section
	#Information Section
	#Testimonial Section
	#Call to Action Bottom
	#Footer Section
	#Media Queries
	#Grid */


/* #Basic Styles
================================================== */
	
html {
	height:100%;
}

body {
	height:100%;
	background: #FFFFFF;
	font: 13px/23px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #454545;
	-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
	-webkit-text-size-adjust: 100%;
}

/* #Typography
================================================== */

h1, h2, h3, h4, h5, h6 { color: #3A3E43; font-family: 'open_sansregular', Helvetica, Arial, sans-serif; font-weight: normal; line-height:100%; margin-bottom:20px; }
h1 { font-size:30px; }
h2 { font-size:26px; }
h3 { font-size:20px; }
h4 { font-size:16px; }
h5 { font-size:14px; }
h6 { font-size:12px; }
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; }
p { margin: 0 0 20px 0; }
p img { margin: 0; }
p.lead { font-size: 21px; line-height: 27px; color: #77777;  }
em { font-style: italic; }
strong { font-weight: bold; color: #333; }
small { font-size: 80%; }

/*	Blockquotes  */

blockquote, blockquote p { font-size: 17px; line-height: 24px; color: #58D68D; font-style: italic; }
blockquote { margin: 0 0 20px; padding: 9px 20px 0 19px; border-left: 1px solid #DDDDDD; }
blockquote cite { display: block; font-size: 12px; color: #999999; }
blockquote cite:before { content: "\2014 \0020"; }
blockquote cite a, blockquote cite a:visited, blockquote cite a:visited { color: #999999; }

hr { border: solid #DDDDDD; border-width: 1px 0 0; clear: both; margin: 20px 0 40px; height: 0; }

/* #Links
================================================== */

a, 
a:visited { 
	color: #58D68D; 
	text-decoration: none; 
	outline: 0;
	-webkit-transform: translateZ(0);
	-webkit-transition:0.2s color linear;
		-moz-transition:0.2s color linear;
			transition:0.2s color linear;
}
a:hover, a:focus { color: #58D68D; }
p a, p a:visited { line-height: inherit; }

/* #Lists
================================================== */

ul, ol { margin-bottom: 20px; }
ul { list-style: none outside; }
ol { list-style: decimal; }
ol, ul.square, ul.circle, ul.disc { margin-left: 30px; }
ul.square { list-style: square outside; }
ul.circle { list-style: circle outside; }
ul.disc { list-style: disc outside; }
ul ul, ul ol,
ol ol, ol ul { margin: 4px 0 5px 30px; font-size: 90%; }
ul ul li, ul ol li,
ol ol li, ol ul li { margin-bottom: 6px; }
ul.large li { line-height: 21px; }
li p { line-height: 21px; }
.icons-ul i { color:#58D68D; }

/* #Images
================================================== */

img {
	max-width: 100%;
	height: auto;
	vertical-align:bottom; 
}
@media \0screen {
  img { 
  	width: auto; /* for ie 8 */
  }
}

/* #Header Section
================================================== */

#header-section {
	width:100%;
	position:relative;
	z-index:1000;
	background:#454545;
	padding:0;
}
.top-header {
	background:#282828;
	font-size:12px;
}
.top-header a {
	color:#CFCFCF;
}
.top-header a:hover {
	color:#FFFFFF;
}
.top-header ul {
	list-style:none;
	margin:0;
	color:#CFCFCF;
	padding:10px 0;
}
.top-header ul li {
	display:inline;
}
.login {
	float:right;
}
.login li {
	margin-left:10px;
}
.login li a {
	color:#58D68D;
}
.main-header {
	height:100px;
	line-height:100px;
}
.site-branding {
	display:block;	
}
.site-branding h1 {
	font-size:36px;
	margin:0;
	color:#58D68D;
	line-height:inherit;
	font-family: 'open_sanssemibold', Helvetica, Arial, sans-serif;
	font-weight:normal;
}
.site-branding a {
	display:block;
	color:#58D68D;
}
.site-branding img  {
	vertical-align:middle;
	max-height:80px;
	padding:10px 0;
}
#ut-navigation ul {
	list-style:none;
	margin:0;
	display:block;
	float:right;
	text-transform:uppercase;
	font-size:12px;	
}
#ut-navigation ul li {
	float:left;
	margin:0 0 0 30px;
}
#ut-navigation ul li a {
	display:block;
	color:#CFCFCF;
	font-weight:bold;
	border-top:2px solid transparent;
	-webkit-transition:0.2s all linear;
		-moz-transition:0.2s all linear;
			transition:0.2s all linear;	
}
#ut-navigation ul li a:hover {
	color:#FFFFFF;
	border-top:2px solid #58D68D;
}
#ut-navigation .selected {
	color:#58D68D;
	border-top:2px solid #58D68D;
}
.entry-header {
}
.entry-title {
	margin-bottom:20px;
	font-weight:normal;
	font-size: 32px;
}
.entry-slogan {
	color:#58D68D;
	font-size:1.2em;
}

/* #Product Section
================================================== */

.product {
	position:relative;
	overflow:hidden;
	text-align:center;
}
.product .entry-header {
	margin-bottom:40px;
}
.product .grid-container {
	position:relative;
}
.product .grid-100 {
	position:relative;
	padding-top:60px;
}
.product-title {
	font-size:3em;
	text-align:center;
}
.product-slogan {
	font-size:1.4em;
	margin-bottom:20px;
	text-align:center;
	color:#777777;
}
.product-link {
	background:none;
  	border: none;
	display: inline-block;
	font-size: 1.4em;
	text-decoration: none;
	cursor: pointer;
	margin:0;
	line-height: normal;
	text-align:center;
	padding:15px 30px;
	color: #FFFFFF;
	-webkit-border-radius: 3px;
	  -moz-border-radius: 3px;
		  border-radius: 3px;
		  -webkit-transition:0.2s background linear;
		-moz-transition:0.2s background linear;
			transition:0.2s background linear;
}
.signup-div:hover {
	background:#1caf9a;
	color:#FFFFFF;
}
.product-link i {
	padding-left:10px;
}
.product-image img {
	margin:0 auto;
	display:block;
}
.product-left {
	padding:60px 0 40px;
	overflow:hidden;
	background:#F3F3F3;
}
.product-right {
	padding:60px 0 40px;
	overflow:hidden;
}

/* Product image animation */
.cbp-so-section:before,
.cbp-so-section:after {
	content: " ";
	display: table;
}
.cbp-so-section:after {
	clear: both;
}
.cbp-so-side {
	float: left;
	overflow: hidden;
	-webkit-transition: -webkit-transform 1s, opacity 0.5s;
	-moz-transition: -moz-transform 1s, opacity 0.5s;
	transition: transform 1s, opacity 0.5s;
}
/* Clear floats of children */
.cbp-so-side:before,
.cbp-so-side:after {
	content: " ";
	display: table;
}
.cbp-so-side:after {
	clear: both;
}
/* Initial state (hidden or anything else) */
.cbp-so-init .cbp-so-side {
	opacity: 0;
}
.cbp-so-init .cbp-so-side-left {
	-webkit-transform: translateX(-320px);
	-moz-transform: translateX(-320px);
	transform: translateX(-320px);
}
.cbp-so-init .cbp-so-side-right {
	-webkit-transform: translateX(320px);
	-moz-transform: translateX(320px);
	transform: translateX(320px);
}
/* Animated state */
.cbp-so-section.cbp-so-animate .cbp-so-side-left,
.cbp-so-section.cbp-so-animate .cbp-so-side-right {
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	transform: translateX(0px);
	opacity: 1;
}

/* #Information Section
================================================== */

.information-section { padding:0 0 40px; }
.information-section .entry-header { margin-bottom:40px; text-align:center; }
.info { overflow:hidden; }

.information-section .main-icon { 
	display:block; 
	margin:0 20px 20px;
	font-size:20px;
	color:#FFFFFF;
	background:#58D68D;
	padding:10px;
	float:left;
}

/* #Testimonial Section
================================================== */

.testimonial-section { padding:60px 0 40px; overflow:hidden; background:#F3F3F3; }
.testimonial { overflow:hidden; }

.testimonial-section .entry-header {
	margin-bottom:40px;
	text-align:center;
}
.testimonial_image img {
	float:left;
	margin-right:20px;
	margin-bottom:20px;
	width:75px;
	height:75px;
	overflow: hidden;
	-webkit-border-radius:50%;
		-moz-border-radius:50%;
			border-radius:50%;
}
.testimonial-name {
	display:block;
	margin-bottom:20px;
	color:#58D68D;
	font-style:italic;
}

/* #Call to Action Bottom
================================================== */

.cta {
	color:#FFFFFF;
	overflow:hidden;
	padding:0;
	width:100%;
	background:#58D68D;
	padding:60px 0 40px 0;
}
.cta-title {
	font-size:2.5em;
	color:#FFFFFF;
	text-align:right;
	margin-bottom:10px;
}
.cta-slogan {
	font-size:1.2em;
	color:#FFFFFF;
	text-align:right;
}
.cta-button {
	padding:20px 30px;
	background:#282828;	
}
.cta-button:hover {
	background:#454545;
}

/* #Footer
================================================== */

.footer{
	background: #454545;
	padding:40px 0 20px;
}
.footer a {
	color:#BBBDBF;
}
.footer a:hover {
	color:#FFFFFF;
}
.footer h3 {
	color:#FFFFFF;
}
.footer .site-branding {
	float:none;
	display:block;
	margin:0 auto 20px 0;	
}
.footer .site-branding h1 {
	font-size:30px;
	margin:0;
	color:#58D68D;
	line-height:inherit;
}
.site-branding a {
	display:block;
	color:#58D68D;
	line-height: inherit;
}
.footer .site-branding a:hover {
	color:#58D68D;
}	
.copyright { 
	padding:0; 
	margin:0; 
	font-size:10px; 
	color:#999999; 
	text-transform:capitalize;
}
.mobile-copyright .copyright {
	text-align:center;
	margin-bottom:20px;
}

/* #Media Queries
================================================== */

/* Phone & Small Tablets */
@media screen and (max-width: 767px) {
	
#header-section,
.top-header {
	text-align:center;
}
.login {
	float:none;
}
.cta-title,
.cta-slogan,
.cta {
	text-align:center;
}
.product img {
	margin-bottom:20px;
}
.footer {
	background:#282828;
}
.cbp-so-init .cbp-so-side-left {
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	transform: translateX(0px);
	opacity: 1;
}
.cbp-so-init .cbp-so-side-right {
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	transform: translateX(0px);
	opacity: 1;
}
.cbp-so-init .cbp-so-side {
	opacity: 1;
}
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1024px) {
	
.cta-title,
.cta-slogan,
.cta {
	text-align:center;
}
.copyright {
	margin-bottom:0 !important;
	margin-top:20px;
}
.cbp-so-init .cbp-so-side-left {
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	transform: translateX(0px);
	opacity: 1;
}
.cbp-so-init .cbp-so-side-right {
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	transform: translateX(0px);
	opacity: 1;
}
.cbp-so-init .cbp-so-side {
	opacity: 1;
}
}

/* #Grid
================================================== */

@media screen and (max-width: 400px) {
  @-ms-viewport {
    width: 320px;
}
}
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.grid-container:before, .clearfix:before,
.grid-container:after,
.clearfix:after {
  content: ".";
  display: block;
  overflow: hidden;
  visibility: hidden;
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0;
}

.grid-container:after, .clearfix:after {
  clear: both;
}

.grid-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  padding-left: 10px;
  padding-right: 10px;
}

.grid-5, .mobile-grid-5, .grid-10, .mobile-grid-10, .grid-15, .mobile-grid-15, .grid-20, .mobile-grid-20, .grid-25, .mobile-grid-25, .grid-30, .mobile-grid-30, .grid-35, .mobile-grid-35, .grid-40, .mobile-grid-40, .grid-45, .mobile-grid-45, .grid-50, .mobile-grid-50, .grid-55, .mobile-grid-55, .grid-60, .mobile-grid-60, .grid-65, .mobile-grid-65, .grid-70, .mobile-grid-70, .grid-75, .mobile-grid-75, .grid-80, .mobile-grid-80, .grid-85, .mobile-grid-85, .grid-90, .mobile-grid-90, .grid-95, .mobile-grid-95, .grid-100, .mobile-grid-100, .grid-33, .mobile-grid-33, .grid-66, .mobile-grid-66 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 10px;
}

.grid-parent {
  padding-left: 0;
  padding-right: 0;
}


